version: '3.9'

services:
  db:
    image: postgres:16
    container_name: retail_pg_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/sql
      - ./data:/data

volumes:
  pgdata: